<h3>Simple file watcher</h3>

<p>
    This will demonstrate how to get web socket messages from backend whenever some file(s) have been changed.
</p>

<h3>Instructions</h3>

<ol>
    <li>
        First of all, open your browser console to see that everything is working. You should see following information
        there
        <ul>
            <li><em>`io.socket` connected successfully.</em></li>
            <li><em>You have been subscribed successfully! </em></li>
        </ul>
    </li>
    <li>
        Open new shell / terminal window, and open below file with your favorite text editor
        <ul>
            <li>backend/data/poc.txt</li>
        </ul>
    </li>
    <li>
        Make changes to that file and see what happen in browser
    </li>
</ol>